* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    color: white;
    overflow-x: hidden;
    background-color: black;
}

.parallex {
    width: 100%;
    height: 100vh;
    background-image: url("https://source.unsplash.com/random/1920x1080/?web-development");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}

.parallex h2 {
    color: rgb(69, 8, 135);
    position: fixed;
    transform: scale(2);
    text-shadow: 2px 2px 1px;
    position: sticky;
}

.background {
    background-image: url("https://source.unsplash.com/random/1920x1080/?computer");
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.content {
    padding: 2rem;
    color: blue;
    height: 500px;
}